@import url(./__title/popup__title.css);
@import url(./__form/popup__form.css);
@import url(./__input/popup__input.css);
@import url(./__input/_type_error/popup__input_type_error.css);
@import url(./__button/popup__button.css);
@import url(./__button/_disabled/popup__button_disabled.css);


.popup{
    background: #fff;
    padding: 40px;
    width: 400px;
}